div{
	width:500px;
	height:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	border-style: solid;
	padding-left: 60px;


}
div p{
	font-style: bold;
	fill: center

	

}